/* You can add global styles to this file, and also import other style files */
.owl-prev{
    position: relative !important;
    top: -180px !important;
    left: -20px !important;
  }

  .owl-next{
    position: relative !important;
    top: -180px !important;
    left: 100% !important;
  }