.author .icon {
    text-align: center;
    top: 8px;
    position: relative;
    cursor: pointer;
}

.language .icon {
    text-align: center;
    top: 8px;
    position: relative;
    cursor: pointer;
}

.review .icon {
    text-align: center;
    top: 8px;
    position: relative;
    cursor: pointer;
}

.featured .icon {
    text-align: center;
    top: 8px;
    position: relative;
    cursor: pointer;
}

.listItem {
    padding: 0px 20px;
}

.listItem img {
    width: 100%;
    height: 100%;
}

.reviewItems i {
    color: #ffbd00;
}

.sideDiv {
    padding: 0px 25px;
}

.breadcrumb a {
    text-decoration: none;
    color: black;
}

.breadcrumb {
    font-size: 20px;
}

.card-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 71px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.book-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 71px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.filter_heading {
    font-size: 18px;
    font-weight: 500;
    margin: 15px 18px;
}

.line {
    width: 109%;
    margin-left: -11px;
}

.icons {
    margin: 24px 0px 0px 80px;
}

.aboutImg img {
    background-size: cover;
    width: 100%;
}

.aboutImg {
    padding: 0;
}

.main-container {
    position: relative;
    top: -100px;
}

.user-conatiner {
    font-size: 25px;
    font-weight: 600;
}

.feature__icon i {
    color: #f75454;
    font-size: 50px;
}

.owl-carousel {
    margin-bottom: 20px;

    margin: 0px 26px;
    width: 96%;
}

.owl-carousel .slider-item {
    text-align: center;
}

.owl-carousel .slider-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.newsletter input {
    width: 40vw;
    height: 60px;
}

.newsletter button {
    background-color: black;
    color: whitesmoke;
    height: 100%;
    width: 8vw;
}

.project {
    font-weight: 700;
    font-size: 30px;
}

.fa-star,
.fa-star-o {
    color: gold;
    font-size: 1.2rem;
}

.filled {
    color: gold;
}

.empty {
    color: lightgray;
}