<div class="container-fluid">
  <div class="row p-3">
    <div class="col-md-9">
      <h3>Listing Books</h3>
    </div>
    <div class="col-md-3 ">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a routerLink="/listing">Listing</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <hr>
  

  <div class="row">
    <div class="col-md-3 mt-3">
      <div class="row sideDiv">
        <div class="col-md-12" style="border: 1px solid grey;">
          <div class="row author">
            <div class="col-sm-6">
              <h3>Authors</h3>
            </div>
            <div class="col-sm-6 icon" (click)="openDiv('author')"><i class="fa fa-plus" aria-hidden="true"></i></div>
            <div class="row listItem" *ngIf="authorList">
              <p>A.J. Finn</p>
              <p>A.J. Finn</p>
              <p>A.J. Finn</p>
            </div>
          </div>
          <hr>

          <div class="row language">
            <div class="col-sm-6">
              <h3>Language</h3>
            </div>
            <div class="col-sm-6 icon" (click)="openDiv('language')"><i class="fa fa-plus" aria-hidden="true"></i></div>
            <div class="row listItem" *ngIf="languageList">
              <p>English</p>
              <p>Hindi</p>
              <p>Punjabi</p>
            </div>
          </div>
          <hr>

          <div class="row review">
            <div class="col-sm-6">
              <h3>By Review</h3>
            </div>
            <div class="col-sm-6 icon" (click)="openDiv('review')"><i class="fa fa-plus" aria-hidden="true"></i></div>
            <div class="row listItem reviewItems" *ngIf="reviewList">
              <div class="row">
                <div class="col-sm-2"><input type="checkbox" name="" id=""></div>
                <div class="col-sm-8">
                  <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </p>
                </div>
                <div class="col-sm-2"><span>(24)</span></div>
              </div>
              <div class="row">
                <div class="col-sm-2"><input type="checkbox" name="" id=""></div>
                <div class="col-sm-8">
                  <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </p>
                </div>
                <div class="col-sm-2"><span>(24)</span></div>
              </div>
              <div class="row">
                <div class="col-sm-2"><input type="checkbox" name="" id=""></div>
                <div class="col-sm-8">
                  <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </p>
                </div>
                <div class="col-sm-2"><span>(24)</span></div>
              </div>
              <div class="row">
                <div class="col-sm-2"><input type="checkbox" name="" id=""></div>
                <div class="col-sm-8">
                  <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </p>
                </div>
                <div class="col-sm-2"><span>(24)</span></div>
              </div>
              

            </div>
          </div>
          <hr>

          <div class="row featured">
            <div class="col-sm-6">
              <h3>Featured</h3>
            </div>
            <div class="col-sm-6 icon" (click)="openDiv('featured')"><i class="fa fa-plus" aria-hidden="true"></i></div>
            <div class="row listItem" *ngIf="featuredList">
              <div class="row mb-2">
                <div class="col-sm-4">
                  <img src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/assets/img/150x226/img1.jpg" alt="" >
                </div>
                <div class="col-sm-8">
                  <p>Lessons Learned from 15 Years as CEO...</p>
                  <span>$30</span>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-sm-4">
                  <img src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/assets/img/150x226/img1.jpg" alt="" >
                </div>
                <div class="col-sm-8">
                  <p>Lessons Learned from 15 Years as CEO...</p>
                  <span>$30</span>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-sm-4">
                  <img src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/assets/img/150x226/img1.jpg" alt="" >
                </div>
                <div class="col-sm-8">
                  <p>Lessons Learned from 15 Years as CEO...</p>
                  <span>$30</span>
                </div>
              </div>
            </div>
          </div>
          <hr>

        </div>
      </div>
    </div>
    <div class="col-md-9 mt-3">
      <!-- Carousel -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/pexels-aline-viana-prado-2465877.jpg" class="d-block w-100" alt="..." style="height:450px;">
          </div>
          <div class="carousel-item">
            <img src="assets/pexels-thought-catalog-904616.jpg" class="d-block w-100" alt="..." style="height:450px;">
          </div>
          <div class="carousel-item">
            <img src="assets/pexels-min-an-694740.jpg" class="d-block w-100" alt="..." style="height:450px;">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="row mt-3">
        <div class="col-md-8">
          <h4>Showing 1–12 of 126 results</h4>
        </div>
        <div class="col-md-2">
          <select name="" id="">
            <option value="default">Default Sorting</option>
            <option value="newness">Newness</option>
            <option value="asc">Low to High</option>
            <option value="desc">High to Low</option>
          </select>
        </div>
        <div class="col-md-2">
          <select name="" id="">
            <option value="show10">Show 10</option>
            <option value="show20">Show 20</option>
            <option value="show30">Show 30</option>
            <option value="show40">Show 40</option>
            <option value="show50">Show 50</option>
          </select>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-4 mb-2" *ngFor="let books of allBooks">
          <div class="card" style="width: 18rem;">
            <div class="text-center">
              <img src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/assets/img/150x226/img1.jpg"
                class="card-img-top" alt="..." style="width: 200px; height: 230px;">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{books.book_name}}</h5>
              <p class="card-text">{{books.book_description}}</p>
              <span>{{books.author_name}}</span>
              <h5>$ {{books.price}}</h5>
              <a href="#" class="btn btn-primary">ADD TO CART</a>
              <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success" style="margin-left: 41px;padding: 6px 25px;" (click)="editBookById(books)">EDIT</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Edit Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editForm" (ngSubmit)="editBooks()">
                <div class="form-group">
                  <label for="exampleInputEmail1">Book name</label>
                  <input formControlName="book_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter book name">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Book description</label>
                  <input formControlName="book_description" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter book description">
                </div>
                <div class="form-group">
                  <label for="authorname">Author name</label>
                  <input formControlName="author_name" type="text" class="form-control" id="authorname" placeholder="Enter Author name">
                </div>
                <div class="form-group">
                  <label for="publishdate">Publish date</label>
                  <input formControlName="publish_date" type="date" class="form-control" id="publishdate" placeholder="Enter publish date">
                </div>
                <div class="form-group">
                  <label for="bookPrice">Author name</label>
                  <input formControlName="price" type="number" class="form-control" id="bookPrice" placeholder="Enter Book price">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>