.like{
    background-image: url('../../../assets/sincerely-media-c1YrcFYW66s-unsplash.jpg');
    background-size: cover;
    height: 610px;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }