<div class="container-fluid">
    <div class="row m-3">
        <div class="col-md-12 text-center">
            <h2>About Us</h2>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12 aboutImg">
            <img src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/assets/img/1920x650/img1.jpg">
        </div>
    </div>

    <div class="container main-container">
        <div class="mb-lg-8">
            <div class="col-lg-9 mx-auto">
                <div class="bg-white mt-n10 mt-md-n13 pt-5 pt-lg-7 px-3 px-md-5 pl-xl-10 pr-xl-4">
                    <div class="mb-4 mb-lg-7 ml-xl-4">
                        <h1 class="font-weight medium font-size-10 mb-4 mb-lg-7">Welcome to Book Application</h1>
                        <p class="font-weight-medium font-italic"><i>“ Many desktop publishing packages and web page
                                editors now use Lorem Ipsum as their default model search for eolved over sometimes by
                                accident, sometimes on purpose ”</i></p>
                    </div>
                    <div class="mb-4 pb-xl-1 ml-xl-4">
                        <h4 class="font-weight-medium font-size-4 mb-4">What we really do?</h4>
                        <p class="font-size-2">Mauris tempus erat laoreet turpis lobortis, eu tincidunt erat fermentum.
                            Aliquam non tincidunt urna. Integer tincidunt nec nisl vitae ullamcorper. Proin sed ultrices
                            erat. Praesent varius ultrices massa at faucibus. Aenean dignissim, orci sed faucibus
                            pharetra, dui mi dignissim tortor, sit amet condimentum mi ligula sit amet augue.
                            Pellentesque vitae eros eget enim mollis placerat. Aliquam non tincidunt urna. Integer
                            tincidunt nec nisl vitae ullamcorper. Proin sed ultrices erat. Praesent varius ultrices
                            massa at faucibus. Aenean dignissim, orci sed faucibus pharetra, dui mi dignissim tortor,
                            sit amet condimentum mi ligula sit amet augue. Pellentesque vitae eros eget enim mollis
                            placerat.</p>
                    </div>
                    <div class="ml-xl-4">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="font-weight-medium font-size-4">Our Vision</h4>
                                <p class="font-size-2">Pellentesque sodales augue eget ultricies ultricies. Cum sociis
                                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur
                                    sagittis ultrices condimentum.</p>
                            </div>
                            <div class="col-md-6">
                                <h4 class="font-weight-medium font-size-4">Our Vision</h4>
                                <p class="font-size-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                                    quis diam erat. Duis velit lectus, posuere a blandit metus mauris, tristique quis
                                    sapien eu, rutrum vulputate enim.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5 user-conatiner">
        <div class="d-md-flex align-items-center justify-content-between px-xl-10">
            <div class="text-center mb-3 mb-md-0">
                <div class="ml-lg-2 project">45M</div>
                <span class="font-size-4">Active Readers</span>
            </div>
            <div class="text-center mb-3 mb-md-0">
                <div class="ml-2 project">+6k</div>
                <span class="font-size-4">Total Pages</span>
            </div>
            <div class="text-center mb-3 mb-md-0">
                <div class="project">30.6M</div>
                <span class="font-size-4">Buyers Activie</span>
            </div>
            <div class="text-center mb-0">
                <div class="ml-2 project">283</div>
                <span class="font-size-4">Cup Of Coffee</span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="mb-5 mb-lg-10">
            <div class="row mb-3">
                <div class="col-md-5">
                    <hr>
                </div>
                <div class="col-md-2 text-center">
                    <h3>Why We</h3>
                </div>
                <div class="col-md-5">
                    <hr>
                </div>
            </div>
            <ul class="list-unstyled my-0 list-features row d-md-flex">
                <li class="list-feature mb-5 mb-lg-0 col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center align-items-md-start pr-xl-3">
                        <div class="feature__icon font-size-14 text-primary text-lh-xs mb-3">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                        </div>
                        <div class="media-body text-md-left">
                            <h4 class="feature__title font-size-3 text-dark">Free Delivery</h4>
                            <p class="feature__subtitle m-0 text-dark">Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu.</p>
                        </div>
                    </div>
                </li>
                <li class="list-feature  mb-5 mb-lg-0 col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center align-items-md-start pr-xl-3">
                        <div class="feature__icon font-size-14 text-primary text-lh-xs mb-3">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                        <div class="media-body text-md-left">
                            <h4 class="feature__title font-size-3 text-dark">Secure Payment</h4>
                            <p class="feature__subtitle m-0 text-dark">Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu.</p>
                        </div>
                    </div>
                </li>
                <li class="list-feature  mb-5 mb-md-0 col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center align-items-md-start pr-xl-3">
                        <div class="feature__icon font-size-14 text-primary text-lh-xs mb-3">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body text-md-left">
                            <h4 class="feature__title font-size-3 text-dark">Money Back Guarantee</h4>
                            <p class="feature__subtitle m-0 text-dark">Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu.</p>
                        </div>
                    </div>
                </li>
                <li class="list-feature  mb-5 mb-md-0 col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center align-items-md-start pr-xl-3">
                        <div class="feature__icon font-size-14 text-primary text-lh-xs mb-3">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body text-md-left">
                            <h4 class="feature__title font-size-3 text-dark">24/7 Support</h4>
                            <p class="feature__subtitle m-0 text-dark">Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="mb-5 mb-lg-10">
            <div class="row mb-3">
                <div class="col-md-5">
                    <hr>
                </div>
                <div class="col-md-2 text-center">
                    <h3>Blogs</h3>
                </div>
                <div class="col-md-5">
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="owl-carousel" style="width: 100%;display: flex;">
                    <div class="slider-item" *ngFor="let blogs of allBlogs">
                        <div class="card" style="width: 18rem;">
                            <div class="text-center">
                                <img [lazyLoad]="'http://localhost:8080/'+blogs.image?.path" defaultImage="assets\bb-social-share-v1.jpg" alt="Uploaded Image" class="card-img-top" style="height: 230px;">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">{{blogs.blog_name}}</h5>
                              <p class="card-text">{{blogs.blog_content}}</p>
                              <span class="btn btn-primary">{{blogs.blog_related_to}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Create
                    blog</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="mb-5 mb-lg-10">
            <div class="row mb-3">
                <div class="col-md-4">
                    <hr>
                </div>
                <div class="col-md-4 text-center">
                    <h3>Join Our Newsletter</h3>
                </div>
                <div class="col-md-4">
                    <hr>
                </div>
            </div>
            <div class="row text-center">
                <p>Signup to be the first to hear about exclusive deals, special offers and upcoming collections</p>
            </div>
            <div class="row text-center">
                <div class="col-md-12 newsletter">
                    <input type="text" placeholder="Enter email for weekly newsletter.">
                    <button>Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create Blog -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Blog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="blogForm" (ngSubmit)="createNewBlog()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Blog name</label>
                        <input formControlName="blog_name" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Enter blog name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Blog content</label>
                        <input formControlName="blog_content" type="text" class="form-control"
                            id="exampleInputPassword1" placeholder="Enter blog content">
                    </div>
                    <div class="form-group">
                        <label for="authorname">Blog related to</label>
                        <input formControlName="blog_related_to" type="text" class="form-control" id="authorname"
                            placeholder="Blog related to">
                    </div>
                    <div class="form-group">
                        <label for="publishdate">Blog date</label>
                        <input formControlName="blog_date" type="date" class="form-control" id="publishdate"
                            placeholder="Blog date">
                    </div>
                    <div class="form-group">
                        <label for="publishdate">Blog Image</label>
                        <input type="file" class="form-control" id="image" name="image" (change)="onSelectFile($event)"
                            required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>